*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --color-orange: #F79F1A;
    --color-green: #046E1B;
    --color-grey: #F1F3F7;

    --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    --transition: box-shadow 0.3s ease  
}
.btn{
    background: var(--color-orange);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    color: white;
    width: fit-content;
    transition: var(--transition);
    display: block;
    margin-top: 3rem;
}
.btn:hover{
    box-shadow: var(--box-shadow);
}

.box{
    border: 2px solid var(--color-orange);
    padding: 1px 6px;
    border-radius: 5px;
}